<!--Anna Thompson, Css, December 5, 2017-->

/*
* Programmer Name
* Date
* Description of Project
*/


/* The Universal Selector */
* {
	margin: 0;
	padding: 0;
}

/* Put body attributes here */

body {
background-color: rgb(0,255,255);
}

h2 {
font-family: cursive, helvetica, sans-serif;
}
